.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner-border {
    position: absolute;
    left: 50%;
    top: 50%;
    
}

.total-amount {
    font-weight: 400;
    font-size: 16px;
}

.btn {
  border-color: none;
  box-shadow: none;
  outline: none;
}

.btn-check:focus+.btn-primary, .btn-primary:focus {
  outline-color: none !important;
  box-shadow: none !important;
  border-color: none !important;
}

.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary, .btn-primary.active, .btn-primary:active, .show>.btn-primary.dropdown-toggle {
  border-color: none !important;
}